bodega/*
bodega
config.php
conf/configPHPMailer.php
img/login_background.jpeg
respuestaRapida/templates_c/*
.idea
.svn
*~
.idea/
HEAD
config
description
hooks/applypatch-msg.sample
hooks/commit-msg.sample
hooks/post-update.sample
hooks/pre-applypatch.sample
hooks/pre-commit.sample
hooks/pre-push.sample
hooks/pre-rebase.sample
hooks/prepare-commit-msg.sample
hooks/update.sample
info/
Licencia_AGPL.txt
README.txt
respuestaRapida/*.txt
logoEntidad.png
logoEntidad_blanco.png
README
