bodega/*
bodega
config.php
respuestaRapida/templates_c/*
Administracion/usuario/templates_c/*.php
.idea
.svn
.tcpdf/cache/*
*~
.idea/
HEAD
config
description
info/
Licencia_AGPL.txt
README.txt
respuestaRapida/*.txt
logoEntidad.png
logoEntidad_blanco.png
README
*.tpl.php
instalacion/qsql.php
estilos/login.css
include/tx/error.log
kint/
instalacion
config.php
.htaccess
400.shtml
401.shtml
403.shtml
404.shtml
500.php
500.shtml
error_log
favicon.ico
php.ini
